:root {
    --darkgreen: #596D48;
    --inputborder: #E5E7EB;
}
body {
    display: flex;
    height: 100vh;
}
.left {
    flex: 1;
}
.right {
    flex: 2;
    padding: 40px;
}
.left {
    color: white;
    background-image: url("background-unsplash.jpg");
}

button {
    color: white;
    background-color: var(--darkgreen);
    padding: 10px 40px;
    border-radius: 10px;
}
a {
    color: inherit;
}
.end a {
    color: var(--darkgreen);
    font-weight: bold;
    text-decoration: none;
}